[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
psycopg2 = "*"
pylint = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
drf-nested-routers = "*"
gunicorn = "*"
whitenoise = "*"
django-heroku = "*"
faker = "*"

[requires]
python_version = "3.8"
